@using Producciones.Models

@model Usuarios

@{
    ViewData["Title"] = "Asignar sector a usuario";
}

<h4>Asignación de sectores</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-floating">
                <input asp-for="Email" class="form-control mt-1" readonly />
                <label asp-for="Email" class="form-label"></label>                
            </div>

            <div class="form-floating">                
                <input asp-for="Nombre" class="form-control mt-1" readonly />
                <label asp-for="Nombre" class="control-label"></label>
            </div>
            <div class="form-floating">
                <input asp-for="Apellido" class="form-control mt-1" readonly />
                <label asp-for="Apellido" class="control-label"></label>
            </div>
            <div class="form-floating">                
                <select asp-for="Sector" class="form-control mt-1" asp-items="ViewBag.Sector"></select>
                <label asp-for="Sector" class="control-label"></label>
                <span asp-validation-for="Sector" class="text-danger"></span>
            </div>
            <div class="form-group mt-5">
                <input type="submit" value="Actualizar" class="btn btn-primary" />
                <a class="btn btn-danger" asp-action="Index">Volver</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
