@using Producciones.Models

@model Programacion

@{
    ViewData["Title"] = "Cargar programación";
}

<h4>Cargar programacion</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="OrdenProduccion" class="control-label"></label>
                <input asp-for="OrdenProduccion" class="form-control" />
                <span asp-validation-for="OrdenProduccion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProcesoId" class="control-label"></label>
                <select asp-for="ProcesoId" class ="form-control" asp-items="ViewBag.ProcesoId"></select>
            </div>
            <div class="form-group">
                <div class="row">
                    <label asp-for="Articulo" class="control-label"></label>
                    <select asp-for="Articulo" class="form-control" asp-items="ViewBag.Articulo" id="selectArticulo"></select>
                    <small class="form-text text-muted">Buscar artículo por código o nombre.</small>
                </div>
                
            </div>
            <div class="form-group">
                <label asp-for="CantidadProgramada" class="control-label"></label>
                <input asp-for="CantidadProgramada" class="form-control" />
                <span asp-validation-for="CantidadProgramada" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Estado" class="control-label"></label>
                <select asp-for="Estado" class ="form-control" asp-items="ViewBag.Estado"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        // Agregar Select2 al select de Articulo
        $(document).ready(function () {
            $('#selectArticulo').select2({
                placeholder: 'Buscar artículo',
                ajax: {
                    url: '/Articulo/Buscar', // Ajusta la ruta según tu controlador y acción para buscar artículos
                    dataType: 'json',
                    delay: 250,
                    processResults: function (data) {
                        return {
                            results: data
                        };
                    },
                    cache: true
                },
                minimumInputLength: 3
            });
        });
    </script>
}
