@using Producciones.Models

@model Programacion

@{
    ViewData["Title"] = "Modificar Programación de OP";
}

<h1>Modificar</h1>

<h4>Programación de OP</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdProgramacion" />
            <div class="form-floating mt-1">
                <input asp-for="OrdenProduccion" class="form-control mt-1" aria-required="true" required />
                <label asp-for="OrdenProduccion" class="form-label"></label>
                <div class="invalid-feedback">
                    <span asp-validation-for="OrdenProduccion" class="text-danger"></span>
                </div>
            </div>
            <div class="form-floating mt-1">
                <select asp-for="ProcesoId" class="form-select d-block" asp-items="ViewBag.Proceso">
                    <option selected></option>
                </select>
                <label class="d-block">Seleccione un proceso</label>
            </div>
            <div class="form-group mt-1">
                <label asp-for="ArticuloCod" class="form-label m-2 md-0" style="font-size:14px; color: grey;">Seleccione un artículo</label>
                <select asp-for="ArticuloCod" class="form-select d-block" id="mi-selector" asp-items="ViewBag.Articulo">
                    <option selected></option>
                </select>
            </div>
            <div class="form-floating mt-1">
                <input asp-for="CantidadProgramada" class="form-control mt-1" aria-required="true" required />
                <label asp-for="CantidadProgramada" class="form-label"></label>
                <div class="invalid-feedback">
                    <span asp-validation-for="CantidadProgramada" class="text-danger"></span>
                </div>
            </div>
            <div class="form-floating mt-1">
                <select asp-for="Estado" class="form-select d-block" asp-items="ViewBag.Estado">
                    <option selected></option>
                </select>
                <label class="d-block">Cambiar Estado</label>
            </div>
            <div class="form-group mt-1">
                <input type="submit" value="Guardar" class="btn btn-primary" />
                <a class="btn btn-danger" asp-action="Index">Cancelar</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
