@model Producciones.Models.Proceso

@{
    ViewData["Title"] = "Eliminar proceso";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>¿Estás seguro que deseas eliminar "@Html.DisplayFor(model => model.Nombre)"?</h3>
<div>    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdProceso" />
        <input class="btn btn-danger" type="submit" value="Confirmar" />
        <a class="btn btn-primary" asp-action="Index">Volver</a>
    </form>
</div>
