@model IEnumerable<Producciones.Models.Proceso>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Listado de procesos</h1>

<div class="d-flex justify-content-end">
    <a asp-action="Create" title="Crear nuevo proceso">
        <img src="~/img/icons/agregar.svg" width="25"/>
    </a>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td class="d-flex justify-content-end">
                    <div class="row">
                        <div class="col">
                            <a asp-action="Edit" asp-route-id="@item.IdProceso" title="Editar" class="mr-2">
                                <img src="~/img/icons/editar.svg" width="20" />
                            </a>
                        </div>                        
                        <div class="col">
                            <a asp-action="Delete" asp-route-id="@item.IdProceso" title="Eliminar">
                                <img src="~/img/icons/borrar.svg" width="20" />
                            </a>
                        </div>
                    </div>
            </td>
        </tr>
}
    </tbody>
</table>
