@page
@model IndexModel
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<h3>@ViewData["Title"]</h3>
<partial name="_StatusMessage" for="StatusMessage" />
<div class="row">
    <div class="col-md-6">
        <form id="profile-form" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating">
                <input asp-for="Username" class="form-control" disabled />
                <label asp-for="Username" class="form-label"></label>
            </div>
            <div class="form-floating">
                <input asp-for="Input.PhoneNumber" class="form-control" />
                <label asp-for="Input.PhoneNumber" class="form-label"></label>
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-floating">                
                <input asp-for="Input.Nombre" class="form-control" />
                <label asp-for="Input.Nombre" class="form-label"></label>
                <span asp-validation-for="Input.Nombre" class="text-danger"></span>
            </div>
            <div class="form-floating">                
                <input asp-for="Input.Apellido" class="form-control" />
                <label asp-for="Input.Apellido" class="form-label"></label>
                <span asp-validation-for="Input.Nombre" class="text-danger"></span>
            </div>
            <div class="form-floating">                
                <select asp-for="Input.CategoriaId" class="form-control" asp-items="ViewBag.Categorias"></select>
                <label asp-for="Input.CategoriaId" class="form-label"></label>
                <span asp-validation-for="Input.CategoriaId" class="text-danger"></span>
            </div>
            <div class="form-floating">                
                <select asp-for="Input.SectorId" class="form-control" asp-items="ViewBag.Sectores"></select>
                <label asp-for="Input.SectorId" class="form-label"></label>
                <span asp-validation-for="Input.SectorId" class="text-danger"></span>
            </div>
            <div class="form form-check">
                <label asp-for="Input.Autorizado"></label>
                <input asp-for="Input.Autorizado" class="form-check-input" />                
                <span asp-validation-for="Input.Autorizado" class="text-danger"></span>
            </div>
            <div class="form-floating">                
                @Html.DropDownList("RoleName", ViewBag.Roles as SelectList, "Seleccione", new { @class = "form-control" })
                <label class="form-label">Rol de usuario</label>
            </div>
            <button id="update-profile-button" type="submit" class="w-100 btn btn-lg btn-primary">Guargar</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
