@using Microsoft.AspNetCore.Identity
@inject SignInManager<Usuarios> SignInManager
@inject UserManager<Usuarios> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item dropdown d-flex align-items-center">
        <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="Users Manager">
             <img src="~/img/icons/manager.svg" width="25"/>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" asp-area="" asp-controller="User" asp-action="Index">Usuarios</a>
            <a class="dropdown-item" asp-area="" asp-controller="Role" asp-action="Index">Roles</a>
            <a class="dropdown-item" asp-area="" asp-controller="UserRolesManager" asp-action="Index">RoleManager</a>
        </div>
    </li>
    @* <li class="nav-item">
        <a class="nav-link text-dark" asp-controller="UserRolesManager" asp-action="Index" title="Manage">Roles Manager</a>
    </li> *@
    <li class="nav-item">            
        <a  class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hola @User.Identity?.Name!</a>        
    </li>
    <li class="nav-item">
        <form  class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button  type="submit" class="nav-link btn btn-link text-dark">Salir</button>                 
        </form>
    </li>
}
else
{
    <li class="nav-item">
        @* <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Registrarse</a> *@
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/register">Registrarse</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>            
    </li>
}
</ul>
