@model Microsoft.AspNetCore.Identity.IdentityRole

<h1>Editar un Rol</h1>
<a asp-action="Index" class="btn btn-secondary">Volver</a>
<div asp-validation-summary="All" class="text-danger"></div>
<form asp-action="Edit" method="post">
    <div class="form-group">
        <label asp-for="Name">Descripción:</label>
        <input asp-for="Name" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Guardar</button>
</form>