@using Producciones.Models

@model IEnumerable<Articulo>

@{
    ViewData["Title"] = "Index";
}

<h1>Listado de Procesos</h1>

@* <p>
    <a asp-action="Create">Create New</a>
</p> *@
<table id="table" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.art_CodGen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.art_DescGen)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                    @Html.DisplayFor(modelItem => item.art_CodGen)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.art_DescGen)
            </td>
        </tr>
}
    </tbody>
</table>
